<script id="ProductQuickViewTemplate--{{ section.id }}" type="text/x-handlebars-template">

	<div class="quickView">
		<div class="quickView-wrap">
			<div class="quickView-inner-wrap">
				<div class="container">
					<div class="row">
						<div class="quickView-img block">
							<div class="productImgSlider" data-product-single-media-group>
								<div class="js-productImgSlider js-productImgContainer" data-gallery="none" data-dots="false" data-arrows="false" data-product-single-media-slider id="js-productImgSlider--{{ section.id }}">
									{% raw %}{{{ productMediaSlider }}}{% endraw %}
								</div>
							</div>
							<div class="productImgSlider-nav js-productImgSlider-nav" data-product-single-media-thumbs>
								{% raw %}{{{ productMediaThumbs }}}{% endraw %}
							</div>
						</div>
						<div class="quickView-info block">
							<a href="#" class="quickView-close js-quickView-close">
								{%- include 'icon-close' -%}
							</a>
							<div class="product-info">
								<div class="quickView-info-container">
									{% raw %}
									<div class="product-title__wrapper block s1">
										{{{ productTitle }}}
									</div>
									<div class="product-form block s1">
										{{{ productForm }}}
									</div>
									<div class="product-description rte">
										{{{ productDescription }}}
									</div>
									{% endraw %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="application/json" id="ModelJson-product-template" hidden>{% raw %}{{{ productMediaJson }}}{% endraw %}</script>

</script>