<div class="productForm pseudoform">
	<div class="productForm-block productForm-block--options-inline {% if color_swatches %}productForm-block--swatches{% endif %}">
		{%- if color_swatches -%}
			<div class="swatch clearfix">
				<div class="header">{{ 'onboarding.colors.label' | t }}</div>
				<div data-value="White" class="swatch-element swatch-element--color swatch-element--white available">
					<label>
						<input type="radio" name="option-{{ section.id }}" value="{{ 'onboarding.colors.white' | t }}" title="{{ 'onboarding.colors.white' | t }}" checked>
						<span style="background-color: white;"></span>
					</label>
				</div>

				<div data-value="Grey" class="swatch-element swatch-element--color swatch-element--grey available">
					<label>
						<input type="radio" name="option-{{ section.id }}" value="{{ 'onboarding.colors.grey' | t }}" title="{{ 'onboarding.colors.grey' | t }}">
						<span style="background-color: grey;"></span>
					</label>
				</div>

				<div data-value="Black" class="swatch-element swatch-element--color swatch-element--black available">
					<label>
						<input type="radio" name="option-{{ section.id }}" value="{{ 'onboarding.colors.black' | t }}" title="{{ 'onboarding.colors.black' | t }}">
						<span style="background-color: black;"></span>
					</label>
				</div>
			</div>
	    {%- endif -%}

	    <div class="selector-wrapper">
    		{%- include "icon-arrow" -%}
    		<label>{{ 'onboarding.sizes.label' | t }}</label>
    		<select>
    			<option value="{{ 'onboarding.sizes.small' | t }}">{{ 'onboarding.sizes.small' | t }}</option>
    			<option value="{{ 'onboarding.sizes.medium' | t }}">{{ 'onboarding.sizes.medium' | t }}</option>
    			<option value="{{ 'onboarding.sizes.large' | t }}">{{ 'onboarding.sizes.large' | t }}</option>
    		</select>
    	</div>
	</div>
	<div class="productForm-block">
		{%- if section.settings.show_quantity -%}
			<div class="qty__adjust">
				<input type="number" name="quantity" id="quantity" value="1" min="1">
				<a href="#" class="qty__adjust-btn js-qty__adjust-btn decrease">{% include 'icon-minus' %}</a>
				<a href="#" class="qty__adjust-btn js-qty__adjust-btn increase">{% include 'icon-plus' %}</a>
			</div>
		{%- endif -%}

		<div class="productForm-buttons{% if settings.color_button_primary_bg == settings.color_background_new %} productForm-buttons--alt{% endif %}">
			<button class="productForm-submit{% if enable_payment_button %} add-to-cart-btn-style{% endif %}" type="submit" data-handle="{{product.handle}}" data-parent-id="{{section.id}}">{{ 'products.form.submit' | t }}</button>
		</div>

		{%- if enable_payment_button -%}
			<div class="productForm-buttons{% if settings.color_button_primary_bg == settings.color_background_new %} productForm-buttons--alt{% endif %}">
				<div class="shopify-payment-button">
					<button class="shopify-payment-button__button shopify-payment-button__button--unbranded">{{ 'products.labels.buy_it_now' | t }}</button>
				</div>
			</div>
		{%- endif -%}
	</div>
</div>